.navContainer{
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #9ffa0b;
}

.navLinks{
  color: blueviolet;
  margin: 2rem;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cartWidgetContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartCount{
  color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}